.css-1ht1j8u {
    overflow-wrap: normal;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    font-family: "Source Sans Pro", sans-serif;
    line-height: normal;
}


div.css-18e3th9 egzxvld2 {
    background-image: url("pexels-fabio-lange-4329870.jpg");
    width: 100%;
    background-color: #cccccc;
   }